@model IEnumerable<Project_1_Final.Models.Course>

@{
    ViewData["Title"] = "ListAllCourses";
}

<h1>List Of All Courses</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme)
            </td>
            <td>
                <a asp-action="EnrollMultiple" asp-route-id="@item.Id">Enroll</a> |
                <a asp-action="UnEnrollMultiple" asp-route-id="@item.Id">UnEnroll</a>
            </td>
        </tr>
}
    </tbody>
</table>
